<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <p>padanan.com</p>
    </nav>
    <main>
        <div class="container">
            <div class="upper">
                <div class="istilah">
                    <form>
                        <textarea name="istilah" id="Istilah" placeholder="isikan istilah yang kamu mau cari"></textarea>
                        <button>Submit</button>
                    </form>
                </div>
                <div class="padanan">
                    <p id="isiPadanan"></p>
                </div>
            </div>
            <div class="lower">
                <h1 id="headingPengertian"><i>Makna istilah </i></h1>
                <p id="pengertian"></p>
            </div>
        </div>
    </main>
    
   
</body>
<script src="script.js"></script>
</html>